html {
  width: 100%;
  background-image: url("https://www.gannett-cdn.com/presto/2018/09/25/PDTF/f94a29b3-0d9b-448a-9f16-83854e0b6e45-AP_Star_Wars-Origina_1_1_2I.JPG?crop=999,560,x0,y32&width=3200&height=1680&fit=bounds");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
